.canvasjs-chart-credit{
  display: none;
}

.graph-area{
  width: 80% !important;
  margin: 0 auto;
}
.canvasjs-chart-axis-title-x text {
  margin-top: 20px !important; /* Adjust the margin-top value as needed */
}